.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}

* {
    margin: 0;
    padding: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar {
    padding: 0;
    margin: 0;
    text-align: center;
}

nav {
    padding: 20px;
    box-shadow: 0 0 3px black;
}

nav li {
    display: inline;
    padding-left: 20px;
}

nav li a {
    color: black;
    text-decoration: none;
    padding: 15px;
}

nav li a:hover {
    color: blue;
}

.navbar, nav, ul, li, a {
    background-color: white;
}

form {
    margin: 2px auto;
    border: 2px;
    padding: 2px;
}



div {
    margin: 10px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-weight: 500;
    font-size: 16px;
}

input[type=submit] {
    position: relative;
    margin-left: 50px;
    background-color: yellow;
    padding-left: 20px;
    padding-right: 20px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-weight: 500;
    font-size: 12px;
    width: 200px;
    height: 25px;
}